body {
    background-color: lightslategray;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
  }

.container {
    background-color: white;
    width: 700px;
    margin: auto;
    border: 2px solid lightgray;
}

.img-area {
    text-align: center;
}

img {
    width: 80%;
    height: auto;
}

.home-page {
    height: 600px;
}

.home-page-img {
    text-align: center;
}

.avengers-list {
    border: 1px solid black;
    width: 550px;
    margin: auto;
    padding: 10px;
}
